//.home{
//  //background-color: #7451f8;
//  display:flex;
//
//  .homeContainer{
//    flex: 6;
//  }
//}
//

.home {
  display: flex;

  .homeContainer {
    flex: 5;

    //.addBar{
    //  display:flex;
    //  padding: 10px;
    //  border-bottom: 0.5px solid rgb(231, 228, 228);
    //
    //  .buttonAdd{
    //    //border-radius: 10px;
    //    margin-right: 10px;
    //    //position: fixed;
    //    //right: 0;
    //    //top: 0;
    //  }
    //}

    .searchBar {
      border-bottom: 3px solid rgb(231, 228, 228);
      border-top: 3px solid rgb(231, 228, 228);
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: left;

      .buttonAdd{
        //border-radius: 10px;
        margin-left: 10px;
        //position: fixed;
        //right: 0;
        //top: 0;
      }

      .search {
        height: 40px;
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        border-radius: 10px;
        //background-color: #7451f8;
        padding: 10px;

        input {
          border: none;
          margin-top: 20px;
          outline: none;
          background: transparent;

          &::placeholder {
            font-size: 16px;
          }
        }
      }
    }

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}